extends ../../layouts/main-layout.pug


block content
    main 
        h1= text
        if products.length > 0
                ul 
                    each p in products
                        li 
                            h3 #{p.product.title} 
                            p= `Quantity: ${p.quantity} (${p.product.price}$/1)`
                            form(action="/cart/delete-product?_method=DELETE" method="POST") 
                                button.btn Delete
                                input(type="hidden" name='id' value=`${p.product._id}` )
        
                h2= `Total price: ${total}`
        else
            h1= "No Products in Your Cart"